.form-control, .h5, h5 ,.btn {
    font-size: .8rem !important;
}

.h4, h4 {
    font-size: 1rem;
    padding: 1rem 0 !important;
    display: block !important;
    font-weight: 600 !important;
}

input[type="radio"] {
    visibility: hidden;
    position: fixed;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.table td, .table th {
    white-space: normal;
    font-size: .8rem !important;
}